@import 'tailwindcss';

@font-face {
  font-family: 'LogoFont';
  src: url('/fonts/custom.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes falling-notes {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(calc(100vh + 100px)) rotate(360deg);
  }
}

@layer base {
  h2 {
    @apply mb-3 border-b-6 border-yellow-400 pb-3 text-4xl font-bold;
  }
  h3 {
    @apply mb-2 text-2xl font-semibold;
  }
  p {
    @apply text-lg text-gray-700;
  }
  label {
    @apply block pb-2 text-lg font-bold;
  }
  input,
  select,
  textarea {
    @apply block w-full rounded-md border border-gray-300 px-3 py-2 text-center font-mono text-lg shadow-sm focus:border-yellow-500 focus:ring-yellow-500 focus:outline-none;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}
